$dark_gray: #373a3c;
$gray: #55595c;
$light_gray: #777777;
$dark_silver: #818a91;
$silver: #dddddd;
$light_silver: #eceeef;
$dark_blue: #1c7cd5;
$blue: #56c0e0;
$light_blue: #dcedf6;
$green: #5cb85c;
$light_green: #e2eed8;
$orange: #f0ad4e;
$pale_orange: #fcf7e4;
$red: #d9534f;
$pale_red: #efdfdf;
