.sidebar-container {
  background-color: $dark_blue;
  min-width: 250px;
  transition: 0.3s;
}
.vertical-menu {
  cursor: pointer;
  color: white;
  a {
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      text-decoration: none;
      color: white;
    }
    &.active {
      color: white;
      text-decoration: none;
    }
  }
}
