@import "../../styles/_colors.scss";
.login-form {
  background-color: $light_silver;
  width: 450px;
  border-radius: 4px;
}
.login-header {
  color: $gray;
}
.login-alert {
  max-width: 456px;
  top: 0px;
  right: 0px;
}
